@import url('assets/styles/biker-animation.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Mahammad's part */
@layer components {
    .navbar-link {
        @apply inline-block mr-10 text-black text-opacity-50 text-lg font-semibold hover:cursor-pointer
    }

    .navbar-icon {
        @apply ml-6
    }

    .message-box-link {
        @apply border-solid border-b-2 border-b-gray-100 pb-2 my-2
    }

    .footer-list-title {
        @apply font-bold mt-10 mb-6
    }

    .footer-list-item {
        @apply text-sm opacity-70 mb-3
    }

    .menu-li {
        @apply min-w-fit font-light text-3xl leading-9 mr-14 cursor-pointer transition-all duration-200
               hover:text-[#8F161A] hover:font-semibold
    }

    .menu-li.menu-li-active {
        @apply text-[#8F161A] font-semibold
    }

    .menu-li.menu-li-red {
        @apply text-white hover:text-white
    }

    .contact-input {
        @apply block outline-0 rounded shadow-contact-input p-1 w-96 mb-6
    }

    .title {
        @apply text-3xl font-medium mb-8 font-Montserrat
    }

    .contact-data-list-item {
        @apply flex items-center mb-12
    }

    .career-input {
        @apply w-[61%] outline-none p-2 text-black rounded-[4px] mb-8 block
    }
}

.react-slideshow-container+ul.indicators {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: space-between !important;
    margin-top: 20px !important;
    width: 80px;
    margin-left: auto;
    margin-right: auto;
}
.react-slideshow-container+ul.indicators .each-slideshow-indicator.active:before {
    padding-right: 30px !important;
    border-radius: 40% !important;
    margin-right: 2px !important;
    align-items: center;

}
.react-slideshow-container+ul.indicators .each-slideshow-indicator:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 10px !important;
    height: 10px !important;
    border-radius: 50%;
    margin-left: 5px !important;
    content: '';
    background: red !important;
    text-align: center;
}

.kids-section >div:nth-child(1) {
    background-image:    linear-gradient(90deg, #BB2025 0%, rgba(255, 255, 255, 0.6) 100%),
    url('./assets/img/Children.png');
}
.kids-section >div:nth-child(2){
    background-image:    linear-gradient(270deg, #BB2025 0%, rgba(255, 255, 255, 0.6) 100%),
    url('./assets/img/Hands.png');
}
.kids-section >div:nth-child(3){
    background-image:    linear-gradient(90deg, #BB2025 0%, rgba(255, 255, 255, 0.6) 100%),
    url('./assets/img/cek.png');
}
.kids-section > div:nth-child(n){
    width: 100%;
    height: 400px;
    background-size: cover;
    color: white;
    padding: 20px;
    background-repeat: no-repeat;
}

#menu-categories, #menu-meals, #meal-modal {
    -ms-overflow-style: none; /* IE & Edge */
    scrollbar-width: none; /* Firefox */
}

#menu-categories::-webkit-scrollbar, #menu-meals::-webkit-scrollbar, #meal-modal::-webkit-scrollbar {
    display: none; /*Safari & Chrome*/
}

.ReactModal__Content {
    padding: 0 !important;
    border-radius: 15px !important;
}

.ReactModal__Overlay {
    z-index: 999 !important;
}