.modal {
    animation: modal-animation 0.2s ease-in-out forwards;
}

@keyframes modal-animation {
    from {
        transform: translateY(10px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}